
body {
    font-family:'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

.hide {
    display: none;
}

input {
    margin-right: 25px;
    margin-bottom: 40px;
}

label {
    font-size: 18px;
}

#question-txt {
    font-size: 30px;
    margin-bottom: 40px;
}

#container {
    margin: 100px auto;
    height: 220px;
    width: 60%;
    max-width: 550px;
    padding: 50px;
    box-shadow: 7px 7px 20px 2px;
}

#start-btn, #results-btn {
    width: 250px;
    height: 100px;
    font-size: 40px;
}